[Unit]
Description=NVR Monitor Service by Deepmind
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/nvr-monitor/monitor.js
Restart=always
User=root
WorkingDirectory=/opt/nvr-monitor
StandardOutput=append:/var/log/nvr-monitor.log
StandardError=append:/var/log/nvr-monitor.log

[Install]
WantedBy=multi-user.target
